/* === Fluent DropDown === */
.gradio-dropdown ul.options li.item.selected {
  background-color: rgba(50, 60, 62, 0.75) !important;
  backdrop-filter: blur(5px) !important;
}
.gradio-dropdown ul.options li.item:hover {
  background-color: rgba(34, 40, 42, 0.75) !important;
  backdrop-filter: blur(3px) !important;
}

.gradio-dropdown ul.options  {
  background-color: rgba(0, 0, 0, 0.55) !important;
  border: solid 2px transparent;
  backdrop-filter: blur(8px) grayscale(0.6) !important;
  box-shadow: 0 0 0 1px color-mix(in srgb, var(--ctp-surface0), var(--ctp-accent) 80%) !important;
}
.gradio-dropdown ul {
  margin-top: 8px;
  margin-botton: 8px;
}