/* === SD-HUB Extension (for V12) === */
/* This module removes 'eye-gouging' styles */

/* Change Gradio Color to Accent */
:root,
.dark {
  --primary-400: var(--ctp-accent) !important;
  --primary-500: var(--ctp-accent) !important;
  --primary-600: var(--ctp-surface1) !important;
}

/* GLOBAL RESETS */
#tab_SDHub *,
#tab_SDHub *:hover {
  box-shadow: none !important;
  filter: none !important;
  transition: 0.25s ease !important;
}


/* TAB NAVIGATION */
#tab_SDHub .tab-nav > button.selected {
  background: var(--ctp-base0) !important;
  border-color: color-mix(in srgb, var(--ctp-accent) 80%, transparent) !important;
  box-shadow: 0 0 8px -2px var(--ctp-accent) !important;
}

#tab_SDHub .tab-nav > button:not(.selected) {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.05) !important;
}
#tab_SDHub .tab-nav > button:not(.selected):hover {
  background: rgba(255, 255, 255, 0.05) !important;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.15) !important;
}


/* BUTTONS */
#tab_SDHub button.lg.primary {
  color: var(--button-primary-text-color);
  background: var(--button-primary-background-fill);
}
#tab_SDHub button.lg.primary:hover {
  filter: brightness(125%) !important;
}

#tab_SDHub button.lg.secondary {
  color: var(--button-scondary-text-color);
  background: var(--button-secondary-background-fill);
}
#tab_SDHub button.lg.secondary:hover {
  filter: brightness(125%) !important;
  color: var(--button-secondary-text-color) !important;
}


/* GALLERY TAB */
#SDHub-Gallery-Wrapper #SDHub-Gallery-Tab-Layer {
  background: color-mix(in srgb, var(--ctp-mantle) 80%, transparent) !important;
  backdrop-filter: blur(2px) !important;
}

.sdhub-gallery-img-name {
  backdrop-filter: blur(5px) !important;
  background: rgba(0, 0, 0, 0.3) !important;
}
#SDHub-Gallery-Tab-Button-Row > button.selected {
  color: var(--button-primary-text-color) !important;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.05) !important;
}

#SDHub-Gallery-Tab-Button-Row > button:not(.selected) {
  color: var(--button-secondary-text-color) !important;
  background: var(--ctp-mantle) !important;
}
#SDHub-Gallery-Tab-Button-Row > button:hover:not(.selected) {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.15) !important;
  cursor: pointer !important;
}

/* Gallery page navigation */
#SDHub-Gallery-Setting-Nav > span {
  background: var(--ctp-mantle) !important;
}
#SDHub-Gallery-Setting-Nav:hover > span {
  background: var(--ctp-base0) !important;
}

.sdhub-gallery-page-nav .sdhub-gallery-tab-image-counter,
.sdhub-gallery-page-nav .sdhub-gallery-page-indicator {
  background: var(--ctp-mantle) !important;
}

/* Accordion */
#SDHub-Tab #SDHub-Tag-Accordion {
  border: 2px solid var(--border-color-primary) !important;
}


/* GALLERY SETTINGS (POPUP) */
#SDHub-Gallery-Setting {
  backdrop-filter: blur(8px) !important;
}


/* Exit button */
#SDHub-Gallery-Setting-Wrapper #SDHub-Gallery-Setting-Exit-Button:hover {
  background: var(--ctp-accent) !important;
}
#SDHub-Gallery-Setting-Wrapper #SDHub-Gallery-Setting-Exit-Button:hover svg {
  color: var(--ctp-base2) !important;
}

/* Inputs */
#SDHub-Gallery-Setting-Wrapper input {
  border: 2px solid var(--ctp-surface1) !important;
}
#SDHub-Gallery-Setting-Wrapper input:hover {
  border-color: var(--ctp-surface2) !important;
}
#SDHub-Gallery-Setting-Wrapper input:focus {
  border-color: var(--ctp-accent) !important;
}

/* Apply button */
#SDHub-Gallery-Setting-Wrapper #SDHub-Gallery-Setting-Apply-Button {
  color: var(--button-secondary-text-color) !important;
  background: var(--ctp-mantle) !important;
}
#SDHub-Gallery-Setting-Wrapper #SDHub-Gallery-Setting-Apply-Button:hover {
  color: var(--button-primary-text-color) !important;
  background: var(--button-primary-background-fill) !important;
}

/* Checkboxes */
.sdhub-gallery-setting-checkbox-input {
  background: var(--ctp-surface1) !important;
}
.sdhub-gallery-setting-checkbox-input:checked {
  background: var(--ctp-accent) !important;
}


/* UTILITIES */
#SDHub-Gallery-ImgChest-Button,
#SDHub-Gallery-ImgChest-Column {
  display: none !important;
}