:root {
  /* ACCENT COLOR */
  --ctp-anxety: #db88ae;
  --ctp-errno: #ff6747;
  
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-lavender: #b4befe;
  --ctp-blue: #89b4fa;

  
  /* UI COLOR */
  --ctp-text: #d1d5d7;
  --ctp-subtext2: #939a9c;
  --ctp-subtext1: #d3dce0;
  --ctp-subtext0: #bbc2c6;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #475254;
  --ctp-surface1: #3d4142;
  --ctp-surface0: #22282a;
  --ctp-base2: #232323;
  --ctp-base1: #181818;
  --ctp-base0: #131313;

  --ctp-mantle: #0b0b0b;
  --shadow: #010409;

  --ctp-accent: var(--ctp-anxety);
  /* color-scheme: dark; */
}

:root,
.dark {
  --color-accent: var(--ctp-accent);

  --body-background-fill: var(--background-fill-primary);
  --body-text-color: var(--ctp-subtext0);
  --body-text-color-subdued: var(--ctp-subtext1);
  --color-accent-soft: var(--ctp-surface0);
  --background-fill-primary: var(--ctp-mantle);
  --background-fill-secondary: var(--ctp-base0);
  --border-color-accent: var(--ctp-surface0);
  --border-color-accent-subdued: var(--border-color-accent);
  --border-color-primary: var(--ctp-surface0);
  --link-text-color-active: var(--ctp-subtext0);
  --link-text-color: var(--ctp-subtext0);
  --link-text-color-hover: var(--ctp-accent);
  --link-text-color-visited: var(--ctp-subtext0);
  --shadow-spread: none;
  --block-background-fill: var(--background-fill-primary);
  --block-border-color: var(--border-color-primary);
  --block-border-width: none;
  --block-info-text-color: var(--body-text-color-subdued);
  --block-label-background-fill: var(--background-fill-secondary);
  --block-label-border-color: var(--border-color-primary);
  --block-label-border-width: none;
  --block-label-text-color: var(--ctp-text);
  --block-shadow: none;
  --block-title-background-fill: none;
  --block-title-border-color: none;
  --block-title-border-width: none;
  --block-title-text-color: var(--ctp-text);
  --panel-background-fill: var(--background-fill-secondary);
  --panel-border-color: var(--border-color-primary);
  --panel-border-width: none;
  --checkbox-background-color: var(--ctp-surface1);
  --checkbox-background-color-focus: var(--checkbox-background-color);
  --checkbox-background-color-hover: var(--ctp-surface2);
  --checkbox-background-color-selected: var(--ctp-accent);
  --checkbox-border-color: var(--ctp-surface2);
  --checkbox-border-color-focus: transparent;
  --checkbox-border-color-hover: transparent;
  --checkbox-border-color-selected: transparent;
  --checkbox-border-width: var(--input-border-width);
  --checkbox-label-background-fill: var(--ctp-surface0);
  --checkbox-label-background-fill-hover: var(--checkbox-label-background-fill);
  --checkbox-label-background-fill-selected: var(--ctp-surface1);
  --checkbox-label-border-color: var(--border-color-primary);
  --checkbox-label-border-color-hover: var(--checkbox-label-border-color);
  --checkbox-label-border-width: var(--input-border-width);
  --checkbox-label-text-color: var(--body-text-color);
  --checkbox-label-text-color-selected: var(--checkbox-label-text-color);
  --error-background-fill: var(--background-fill-primary);
  --error-border-color: var(--ctp-accent);
  --error-border-width: none;
  --error-text-color: var(--ctp-text);
  --error-icon-color: var(--ctp-accent);
  --input-background-fill: var(--ctp-base1);
  --input-background-fill-focus: var(--input-background-fill);
  --input-background-fill-hover: var(--input-background-fill);
  --input-border-color: var(--border-color-primary);
  --input-border-color-focus: var(--ctp-surface1);
  --input-border-color-hover: var(--input-border-color);
  --input-border-width: 1px;
  --input-placeholder-color: var(--ctp-surface1);
  --input-shadow: none;
  --input-shadow-focus: 0 0 0 var(--shadow-spread) var(--ctp-surface1), var(--shadow-inset);
  --loader-color: var(--ctp-accent);
  --slider-color: var(--ctp-accent);
  --stat-background-fill: var(--ctp-surface1);
  --table-border-color: var(--ctp-surface1);
  --table-even-background-fill: var(--ctp-base1);
  --table-odd-background-fill: var(--ctp-base2);
  --table-row-focus: var(--color-accent-soft);
  --button-border-width: var(--input-border-width);
  --button-cancel-background-fill: var(--ctp-red);
  --button-cancel-background-fill-hover: var(--button-cancel-background-fill);
  --button-cancel-border-color: var(--ctp-red);
  --button-cancel-border-color-hover: var(--button-cancel-border-color);
  --button-cancel-text-color: var(--ctp-base0);
  --button-cancel-text-color-hover: var(--button-cancel-text-color);
  --button-primary-background-fill: var(--ctp-accent);
  --button-primary-background-fill-hover: var(--button-primary-background-fill);
  --button-primary-border-color: var(--ctp-accent);
  --button-primary-border-color-hover: var(--button-primary-border-color);
  --button-primary-text-color: var(--ctp-base0);
  --button-primary-text-color-hover: var(--button-primary-text-color);
  --button-secondary-background-fill: var(--ctp-surface0);
  --button-secondary-background-fill-hover: var(--button-secondary-background-fill);
  --button-secondary-border-color: var(--ctp-surface0);
  --button-secondary-border-color-hover: var(--button-secondary-border-color);
  --button-secondary-text-color: var(--ctp-text);
  --button-secondary-text-color-hover: var(--button-secondary-text-color);
  --chatbot-code-background-color: var(--background-fill-primary);
  
  /* Params */
}

html, body {
  background: var(--ctp-mantle);
}


/* Main customizations */
/* === Fluent DropDown === */
.gradio-dropdown ul.options li.item.selected {
  background-color: rgba(50, 60, 62, 0.75) !important;
  backdrop-filter: blur(5px) !important;
}
.gradio-dropdown ul.options li.item:hover {
  background-color: rgba(34, 40, 42, 0.75) !important; 
  backdrop-filter: blur(3px) !important;
}

.gradio-dropdown ul.options  {
  box-shadow: 0 0 0 1px var(--ctp-accent);
  border: solid 2px transparent;
  background-color: rgba(0, 0, 0, 0.55) !important; 
  backdrop-filter: blur(8px) grayscale(0.6) !important;
}
.gradio-dropdown ul {
  margin-top: 8px;
}

/* === Fluent Toast Error === */
.toast-body {
  border-color:  var(--ctp-accent) !important;
  background-color: rgba(0, 0, 0, 0.65) !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.05);
}
.toast-icon {
  color: var(--ctp-errno) !important;
}
.timer {
  background: var(--ctp-accent) !important;
  margin: 0.25em;
  border-radius: 16px;
}

.toast-close {
  color: var(--ctp-accent) !important;
  position: relative;
  cursor: pointer;
}
.toast-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.toast-close:hover::before {
  opacity: 1;
}

/* === ScrollBar === */
::-webkit-scrollbar {
  width: 0.65rem;
  height: 0.65rem;
}
::-webkit-scrollbar-thumb {
  background: var(--ctp-surface2) !important;
  border-radius: 8px;
  border: 3px solid var(--ctp-mantle);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--ctp-accent) !important;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--ctp-mantle) !important;
  border-radius: 8px;
}
/* FireFox */ 
:root, .dark {
  scrollbar-width: auto;
  scrollbar-color: var(--ctp-surface2) var(--ctp-mantle);
}

/* === TagComplete === */
.autocompleteResultsList > li:nth-child(odd) {
  background-color: var(--ctp-base0) !important;
  /* transition: all 0.15s ease; */
}
.autocompleteResultsList > li:nth-child(even) {
  background-color: var(--ctp-base1) !important;
}
.autocompleteResultsList > li:nth-child(even):hover,
.autocompleteResultsList > li:nth-child(odd):hover {
  background-color: var(--ctp-surface1) !important;
}
/* Select Color*/
.autocompleteResultsList > li.selected {
  background-color: var(--ctp-surface0) !important; 
}

/* === Gradio (MAIN UI) Button === */
.gradio-button.generate-box-skip,
.gradio-button.generate-box-interrupt  {
  background-color: var(--ctp-accent);
  color: var(--ctp-base0);
  transition: all 0.1s ease;
}
.gradio-button.generate-box-skip:hover,
.gradio-button.generate-box-interrupt:hover {
  background-color: var(--ctp-accent);
  filter: brightness(80%) !important;
  color: var(--ctp-base0);
}

#txt2img_skip, #img2img_skip,
#txt2img_interrupt, #img2img_interrupt,
#txt2img_interrupting, #img2img_interrupting {
  border: none; 
}
#txt2img_skip, #img2img_skip {
  border-left: solid 1px var(--ctp-base0); /* button border */
}

.gradio-button.generate-box-interrupting  {
  background-color: var(--ctp-errno);
  color: var(--ctp-base0);
  transition: all 0.1s ease;
}
.gradio-button.generate-box-interrupting:hover  {
  background-color: var(--ctp-errno);
  color: var(--ctp-base0);
}

/* === Preview Images BG === */
#lightboxModal {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
}
.modalControls:hover {
  backdrop-filter: blur(12px) grayscale(0.7);
  background-color: rgba(0, 0, 0, 0.8) !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}
/* Arrow */
#lightboxModal .modalPrev,
#lightboxModal .modalNext {
  background-color: var(--ctp-base0);
}
#lightboxModal .modalPrev:hover,
#lightboxModal .modalNext:hover {
  background-color: var(--ctp-accent);
}


/* Other Customizations */
/* Rounded Gradio Button */
.wrap, label, .block, .lg, .primary, .secondary, .gradio-button {
  border-radius: 8px !important;
}
.wrap, label, .block { gap: 4px !important; }
/* Fix Rounded Main Button UI */
#txt2img_interrupt, #img2img_interrupt,
#txt2img_interrupting, #img2img_interrupting {
  border-radius: 8px 0 0 8px!important; 
}
#txt2img_skip, #img2img_skip {
  border-radius: 0 8px 8px 0 !important;
}

/* Extra-Network-Pane */
.extra-network-pane .card,
.extra-network-pane .card .button-row {
  transition: all 0.2s ease;
  text-align: center;
}
.extra-network-pane .card:hover {
  box-shadow: 0 0 5px 0.2em var(--ctp-accent);
  transform: scale(1.025);
}
.extra-network-pane .card .button-row {
  border-bottom-left-radius: 8px;
  padding: 0 5px;
}
.extra-network-pane .card .actions,
.extra-network-pane .card .button-row:hover {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  font-size: 10px;
}
.goto-civitbrowser.card-button:hover svg path,
.extra-network-pane .card .button-row > .card-button:hover {
  fill: var(--ctp-accent);
  color: var(--ctp-accent);
}

#tabs > .tab-nav > button.selected,
#txt2img_extra_tabs > .tab-nav > button.selected,
#img2img_extra_tabs > .tab-nav > button.selected,
#mode_img2img > .tab-nav > button.selected,
#tabs .gradio-tabs > .tab-nav > button.selected {
  color: var(--ctp-accent);
}


/* OLD */
div.gradio-group > *:not(.absolute) {
  /* margin-bottom: 2px; */
  gap: 2px;
}

#context-menu {
  box-shadow: none;
  border-color: var(--ctp-surface2);
}
.context-menu-items a {
  background-color: var(--cpt-base1);
}
.context-menu-items a:hover {
  color: white;
  background-color: var(--ctp-surface0);
  border-radius: 6px;
}

.block.token-counter span {
  box-shadow: none;
}

.gradio-button:hover,
.lg.secondary:hover {
  filter: brightness(125%);
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  accent-color: var(--ctp-accent);
}

::-moz-selection { /* Code for Firefox */
  background: var(--ctp-surface1);
}
::selection {
  background: var(--ctp-surface1);
}

/* Hide text-field arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield !important;
}

.progressDiv .progress {
  background: var(--ctp-accent);
  color: var(--shadow);
}

.dark .progressDiv,
.progressDiv {
  background-color: var(--ctp-surface0);
}

.block.gradio-gallery {
  box-shadow: var(--block-shadow);
  border-width: var(--block-border-width);
  border-color: var(--block-border-color);
  border-radius: var(--block-radius);
  background: var(--block-background-fill);
}

.block.gradio-accordion {
  box-shadow: var(--block-shadow);
  border-width: var(--block-border-width);
  border-color: var(--block-border-color);
  border-radius: var(--block-radius);
}


/* === SLIDERS STYLE === */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='range'],
input[type='range'].svelte-pc1gm4 {
  background-color: var(--ctp-surface1);
  --thumb-height: 1em;
  --track-height: 0.125em;
  --track-color: var(--ctp-surface0);
  --brightness-hover: 130%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

/* === Styles for track in IE === */
input[type='range']::-ms-track,
input[type='range'].svelte-pc1gm4::-ms-track {
  background: transparent;
}

input[type='range']::-ms-fill-lower,
input[type='range'].svelte-pc1gm4::-ms-fill-lower {
  background: var(--ctp-accent);
  border-radius: 10px;
}

input[type='range']::-ms-fill-upper,
input[type='range'].svelte-pc1gm4::-ms-fill-upper {
  background: var(--ctp-overlay0);
  border-radius: 10px;
}

input[type='range']:focus::-ms-fill-lower,
input[type='range'].svelte-pc1gm4:focus::-ms-fill-lower {
  background: var(--ctp-accent);
}

input[type='range']:focus::-ms-fill-upper,
input[type='range'].svelte-pc1gm4:focus::-ms-fill-upper {
  background: var(--ctp-overlay0);
}

input[type='range']:hover,
input[type='range'].svelte-pc1gm4:hover,
input[type='radio']:hover {
  background-color: var(--ctp-surface2);
}

input[type='range']:focus,
input[type='range'].svelte-pc1gm4:focus,
input[type='radio']:focus {
  background-color: var(--ctp-surface2);
}

input[type='range'].win10-thumb {
  color: var(--ctp-accent);
  --thumb-height: 1.5em;
  --thumb-width: 0.5em;
  --clip-edges: 0.0125em;
}

@media (prefers-color-scheme: dark) {
  input[type='range'],
  input[type='range'].svelte-pc1gm4 {
    color: var(--ctp-accent);
    --track-color: var(--ctp-surface0);
  }
}

/* === WebKit specific styles === */
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4,
input[type='range'].svelte-pc1gm4::-webkit-slider-runnable-track,
input[type='range'].svelte-pc1gm4::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4::-webkit-slider-thumb {
  height: var(--thumb-height);
  width: var(--thumb-height);
  background-color: var(--ctp-accent);
  border: none;
  margin-top: calc((var(--track-height) / 2));
}

input[type='range']:hover::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4:hover::-webkit-slider-thumb {
  filter: brightness(var(--brightness-hover));
  cursor: grab;
}

input[type='range']:active::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4:active::-webkit-slider-thumb {
  filter: brightness(var(--brightness-down));
  cursor: grabbing;
}

input[type='range']:disabled::-webkit-slider-thumb,
input[type='range'].svelte-pc1gm4:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type='range'],
input[type='range']::-moz-range-track,
input[type='range']::-moz-range-thumb,
input[type='range'].svelte-pc1gm4,
input[type='range'].svelte-pc1gm4::-moz-range-track,
input[type='range'].svelte-pc1gm4::-moz-range-thumb {
  appearance: none;
}

input[type='range']::-moz-range-thumb,
input[type='range'].svelte-pc1gm4::-moz-range-thumb {
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: grab;
}

input[type='range']:active::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:active::-moz-range-thumb {
  cursor: grabbing;
}

input[type='range']::-moz-range-track,
input[type='range'].svelte-pc1gm4::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type='range']::-moz-range-progress,
input[type='range'].svelte-pc1gm4::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type='range']::-moz-range-track,
input[type='range']::-moz-range-progress,
input[type='range'].svelte-pc1gm4::-moz-range-track,
input[type='range'].svelte-pc1gm4::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type='range']::-moz-range-thumb,
input[type='range']::-moz-range-progress,
input[type='range'].svelte-pc1gm4::-moz-range-thumb,
input[type='range'].svelte-pc1gm4::-moz-range-progress {
  filter: brightness(100%);
}

input[type='range']:hover::-moz-range-thumb,
input[type='range']:hover::-moz-range-progress,
input[type='range'].svelte-pc1gm4:hover::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:hover::-moz-range-progress {
  filter: brightness(var(--brightness-hover));
}

input[type='range']:active::-moz-range-thumb,
input[type='range']:active::-moz-range-progress,
input[type='range'].svelte-pc1gm4:active::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:active::-moz-range-progress {
  filter: brightness(var(--brightness-down));
}

input[type='range']:disabled::-moz-range-thumb,
input[type='range'].svelte-pc1gm4:disabled::-moz-range-thumb {
  cursor: not-allowed;
}

/* all of the input range stuff is from this guy*/
/* Shout out to them https://codepen.io/ShadowShahriar/pen/zYPPYrQ */